:root {
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0CO;
    --botão-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-pricipal: 'inter';
    --botão-azul-efeito: #3c92fa;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-pricipal);
    font-size: 16px;
    font-weight: 400;
}

*{
 margin: 0 ;
 padding: 0 ;
}
  
.pricipal{
    background-image:url(img/Background.png);
    background-repeat: no-repeat;
    background-size: center;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botão {
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botão__secundário {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundário);
}

.container__titulo {
    font-size: 29px;
    font-weight: 700;
}   

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}


.secundario {
    align-items: center;
    margin: 0 10em;
}

.descrição__titulo {
    font-weight:  700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descrição__texto {
    color: var(--cinza-secundário);
}

.secundario__botão {
    display: inline-block;
    margin-top: 1em; 
}

.container__descrição {
    padding: 2em;
}

.dispositivo__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundário);
    font-size: 14px;
}

.lista__link a::hover {
    color: var(--botão-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botão:hover {
    background-color: var(--botão-azul-efeito);
    color: var(--cor-de-fundo);
}